@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}

section{
  display: flex;
  align-items: center;
  height: 100vh;
}

button{
  padding: 20px;
  font-size: 16px;
}

.diplayName{
  font-size: 100px;
  text-align: center;
}

.setNumber{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputMinMax{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.inputMinMax input{
  padding: 20px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid rgba(39, 38, 38, 0.13);
}

.startButton{
  border-radius: 5px;
  border: 2px solid rgba(3, 3, 3, 0.13);
}

.container{
  width: 100%;
  padding: 0 20px;
}

#formButton{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

#formButton button{
  font-size: 30px;
  padding: 20px 80px;
  border: none;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.301);
  border-radius: 10px;
}

@media screen and (max-width: 780px) { 
  .diplayName{
    font-size: 140px;
  }
}