@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --background: #F2C162;
  --purple: #9A7AFF;
  --pink: #F26262;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}

body{
  background-color: var(--background);
}

section{
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container{
  width: 45%;
  text-align: center;
  background-color: #fff;
  border-radius: 7px;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 30px 15px;

  z-index: 1;

  box-shadow: 1px 1px 5px var(--pink);
}

.title{
  font-size: 3vw;
}

.description{
  font-size: 18px;
}

.diplayName{
  font-size: 100px;
  text-align: center;

  background-color: #F26262;
  color: #fff;
  border-radius: 7px;
}

.setNumber{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputMinMax{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.inputMinMax label{
  font-size: 18px;
}

.btn-back{
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  border-radius: 7px;
}

.inputMinMax input{
  padding: 10px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid rgba(39, 38, 38, 0.13);

  font-size: 18px;
}

.mainButton{
  border: none;
  background-color: var(--purple);
  box-shadow: 0px 2px 0px var(--pink);

  font-size: 20px;
  color: #fff;
  border-radius: 7px;
}

.startButton{
  
  width: 100%;
  padding: 10px;
  transition: 500ms ease-in-out;
}

.startButton:hover{
  background-color: var(--pink);
}

#formButton{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

#formButton button{
  font-size: 30px;
  padding: 20px 80px;
  border: none;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.301);
  border-radius: 7px;

  border: none;
  background-color: var(--purple);
  box-shadow: 0px 2px 0px var(--pink);

  font-size: 22px;
  color: #fff;
  font-weight: bold
}

.cloud{
  position: absolute;
  top: 5%;
  left: 15%;
  animation: movementY 5s ease-in-out infinite alternate;

  width: 200px;
}

.cloud1{
  position: absolute;
  top: 35%;
  left: -3%;
  animation: movementX 5s ease-in-out infinite alternate;
}

.cloud2{
  position: absolute;
  top: 45%;
  left: 85%;
  animation: movementX 5s ease-in-out infinite alternate;
  width: 200px;
}

.cloud3{
  position: absolute;
  top: 5%;
  left: 70%;
  animation: movementX 5s ease-in-out infinite alternate;
}

.cloud4{
  position: absolute;
  top: 75%;
  left: 25%;
  animation: movementY 5s ease-in-out infinite alternate;
}
.cloud5{
  position: absolute;
  top: 63%;
  left: 69%;
  width: 200px;
  animation: movementY 5s ease-in-out infinite alternate;
}

@keyframes movementX {
  0% {
      transform: translateX(10px);
  }
  100% {
      transform: translateX(20px);
  }
}

@keyframes movementY {
  0% {
      transform: translateY(0px);
  }
  100% {
      transform: translateY(5px);
  }
}

@media screen and (max-width: 780px) { 
  .diplayName{
    font-size: 140px;
  }

  .container{
    width: 90%;
  }

  .title{
    font-size: 9vw;
  }

  .description{
    font-size: 16px;
  }

  .startButton:hover{
    background-color: var(--purple);
  }

  .cloud{
    position: absolute;
    top: -3%;
    left: 15%;
    animation: movementY 5s ease-in-out infinite alternate;
  
    width: 200px;
  }
  
  .cloud1{
    position: absolute;
    top: 75%;
    left: -35%;
    animation: movementX 5s ease-in-out infinite alternate;
  }
  
  .cloud2{
    position: absolute;
    top: 35%;
    left: -25%;
    animation: movementX 5s ease-in-out infinite alternate;
    width: 200px;
  }
  
  .cloud3{
    position: absolute;
    top: 48%;
    left: 70%;
    animation: movementY 5s ease-in-out infinite alternate;
  }

  .cloud4{
    display: none;
  }
  .cloud5{
    display: none;
  }
}